# Файлы конфигурации для venv
venv/
.venv/
.env

# Контрольные точки в Jupyter notebook лучше оставить в стороне
.ipynb_checkpoints






# Байт-код, оптимизированные / DLL-файлы
# __pycache__/
# *.py[cod]

# Файлы дистрибутивов и артефакты упаковки
# dist/
# *.egg-info/

# Файлы покрытия, кэши и прочие ненужные файлы
# .coverage
# *.py,cover
# .cache/

# Файлы *.py,cover не несут никакого смысла
# *.py,cover
